################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.nupkg
/TaskCanvas.TaskCanvasOF
*.TaskCanvasSL
/ExcelDna.Testing/ExampleAddinNET6/Properties/launchSettings.json
